/*
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap');

:root {
    --md-primary-fg-color: #4a90e2; 
    --md-accent-fg-color: #ff4081;
    --md-default-bg-color: #121212; 
    --md-text-font: "Josefin Sans", sans-serif;
}

body {
    font-family: var(--md-text-font);
}
*/
